<div class="contenido d-flex justify-content-center">
    <div class="card me-2">
        <h5 class="card-header fs-2 text-center py-2">Libre</h5>
        <div class="card-body text-center">
            <p class="fs-2 text-secondary text-center"><span class="fs-1 fw-bold text-dark">$0 </span>/ <span class="fs-3">mes</span></p>
            <div>
            <p class="fs-6 mb-0">10 usuarios incluidos</p>
            <p class="fs-6 mb-0">2 GB de almacenamiento</p>
            <p class="fs-6 mb-0">Soporte de correo electrónico</p>
            <p class="fs-6">Acceso al centro de ayuda</p>
            </div>
            <button type="button" class="btn btn-outline-primary text-center w-100 pt-3 fs-5 mb-2">Registrate gratis</button>
        </div>
    </div>
    <div class="card mx-4">
        <h5 class="card-header fs-2 text-center py-2">Pro</h5>
        <div class="card-body text-center">
            <p class="fs-2 text-secondary text-center"><span class="fs-1 fw-bold text-dark">$15 </span>/ <span class="fs-3">mes</span></p>
            <p class="fs-6 mb-0">20 usuarios incluidos</p>
            <p class="fs-6 mb-0">10 GB de almacenamiento</p>
            <p class="fs-6 mb-0">Soporte prioritario por correo electrónico</p>
            <p class="fs-6">Acceso al centro de ayuda</p>
            <button type="button" class="btn btn-primary text-center w-100 pt-3 fs-5 mb-2">Empezar</button>
        </div>
    </div>
    <div class="card ms-2">
        <h5 class="card-header fs-2 text-center py-2">Empresa</h5>
        <div class="card-body text-center">
            <p class="fs-2 text-secondary text-center"><span class="fs-1 fw-bold text-dark">$29 </span>/ <span class="fs-3">mes</span></p>
            <p class="fs-6 mb-0">30 usuarios incluidos</p>
            <p class="fs-6 mb-0">15 GB de almacenamiento</p>
            <p class="fs-6 mb-0">Soporte teléfonico y por correo electrónico</p>
            <p class="fs-6">Acceso al centro de ayuda</p>
            <button type="button" class="btn btn-primary text-center w-100 pt-3 fs-5 mb-2">Contáctenos</button>
        </div>
    </div>
</div>