<!-- Pagina planes certus -->
<!-- 
<app-navbar></app-navbar>
<app-titulo></app-titulo>
<app-content></app-content>
 -->

<!-- Calculadora en un solo componente -->
<!-- <app-calculadora></app-calculadora> -->

<!-- Calculadora de varios componentes -->
<app-calculator-title></app-calculator-title>
<div class="container">
    <div class="row g-3">
        <div class="col-6">
            <form>
                <div>
                    <app-calculator-input></app-calculator-input>
                    <app-calculator-input></app-calculator-input>
                </div>
                <app-calculator-button></app-calculator-button>
            </form>
        </div>
        <div class="col-6">
            <app-calculator-result></app-calculator-result>
        </div>
    </div>
</div>